
@{
    ViewBag.Title = "AvailableCompetition";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}


@foreach (var category in Model)
{
    <a data-id="@category.Id" class="category-selection">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="card">
                <div class="header @category.Color">
                    <h2>
                        @category.Name.ToUpper()<small>Yarışma başlatmak için tıklayınız...</small>
                    </h2>
                </div>
            </div>
        </div>
    </a>
}

<div class="row clearfix js-sweetalert">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <p></p>
        <button id="failCompErr" class="btn btn-primary waves-effect" data-type="basic" style="display:none;"></button>
    </div>
</div>

@section styles
{
    <link href="~/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
    <style>
        .category-selection {
            cursor: pointer;
        }
    </style>
}

@section scripts{
    <script src="~/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="~/Scripts/pages/ui/dialogs.js"></script>
    <script>
        $(document).ready(function () {
            $(".category-selection").click(function (e) {
                e.preventDefault();
                let id = $(this).data('id');
                console.log(id);
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Competition", "Save")',
                    data: {
                        id: id
                    },
                    dataType :'json',
                    success: function (data) {
                        if (data.status === 1) {
                            window.location.href = "@Url.Action("Competition", "Student")?competition=" + data.code;
                        }
                        else if (data.status === 2) {
                            window.location.href = "@Url.Action("Index", "Login")";
                        }
                        else {
                            $("#failCompErr").click();
                            //alert("Yarışma başlatılamadı!");
                        }
                    }
                });
            });
        });
    </script>
}
