@model KnowledgeCompetitionWebApp.Models.Competition
@{
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

@for (int i = 0; i < Model.Questions.Count(); i++)
{
    var id = "q" + (i+1).ToString();
    <div class="row clearfix question" id="@id">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">

                <div class="body">
                    <strong>SORU: </strong>
                    @Model.Questions.ElementAt(i).QuestionTxt
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="card option" data-opt="a">
                <div class="body">
                    <strong>A)&nbsp;</strong>
                    @Model.Questions.ElementAt(i).OptionA
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="card option" data-opt="b">

                <div class="body">
                    <strong>B)&nbsp;</strong>
                    @Model.Questions.ElementAt(i).OptionB
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="card option" data-opt="c">

                <div class="body">
                    <strong>C)&nbsp;</strong>
                    @Model.Questions.ElementAt(i).OptionC
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="card option" data-opt="d">

                <div class="body">
                    <strong>D)&nbsp;</strong>
                    @Model.Questions.ElementAt(i).OptionD
                </div>
            </div>
        </div>


    </div>
}

@section styles{
    <style>
        .card{
            cursor:pointer!important;
        }
    </style>
}

@section scripts{
        <script>
            var currentQuestion = 1;
            var selectedOption = "";
            var competitionId = @Model.Id;
            $(document).ready(function () {
                $(".question").hide();
                ShowNextQuestion();
                $(".option").hover(function () {
                    $(this).addClass("bg-light-blue");
                });
                $(".option").mouseout(function () {
                    $(this).removeClass("bg-light-blue");
                });
                $(".card").click(function (e) {
                    selectedOption = $(this).data("opt");
                    $("#q" + currentQuestion).fadeOut();
                    currentQuestion++;
                    setTimeout(function () {
                        $("#q" + currentQuestion).fadeIn();
                    }, 500);
                });
            });

            function ShowNextQuestion() {
                $("#q" + currentQuestion).show();
            }

        </script>
}
