@model IEnumerable<KnowledgeCompetitionWebApp.Models.User>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row clearfix m-b-10">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <a href="@Url.Action("NewAdmin", "Admin")" class="btn bg-green waves-effect">
            <i class="material-icons">save</i>
            <span>YÖNETİCİ EKLE</span>
        </a>
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    YÖNETİCİLER
                </h2>
            </div>
            <div class="body">
                @if (Model == null || !Model.Any(t => t.UserType == 0) || (Model.Count() == 1))
                {
                    <div class="alert alert-danger">
                        <strong>Üzgünüz!</strong> Sistemde gösterilecek yönetici bulunmamaktadır.
                    </div>
                }
                else
                {
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                            <thead>
                                <tr>
                                    <th>Adı</th>
                                    <th>Soyad</th>
                                    <th>Email</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Adı</th>
                                    <th>Soyad</th>
                                    <th>Email</th>
                                    <th></th>
                                </tr>
                            </tfoot>
                            <tbody>
                                @foreach (var admin in Model)
                                {
                                    if (Convert.ToInt32(Session["userId"]) != admin.Id)
                                    {
                                        <tr id="user_@admin.Id">
                                            <th id="col_name_@admin.Id">@admin.Name</th>
                                            <th id="col_surname_@admin.Id">@admin.Surname</th>
                                            <th id="col_name_@admin.Id">@admin.Email</th>
                                            <th>
                                                <button type="button" class="btn bg-orange waves-effect" id="edit_@admin.Id" onclick="Edit(@admin.Id)" data-toggle="modal">
                                                    <i class="material-icons">mode_edit</i>
                                                    <span>Düzenle</span>
                                                </button>
                                                <button type="button" class="btn bg-red waves-effect" id="delete_@admin.Id" onclick="Delete(@admin.Id)">
                                                    <i class="material-icons">report_problem</i>
                                                    <span>Sil</span>
                                                </button>
                                            </th>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>

                    <div class="alert alert-success m-t-10 info-alert" id="delete_success">
                        <strong>Başarılı!</strong> Silme işlemi gerçekleşti.
                    </div>
                    <div class="alert alert-danger m-t-10 info-alert" id="delete_err">
                        <strong>Hata!</strong> Silme işlemi bir sepebten ötürü başarısız oldu.
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="UpdateUserModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form id="form_advanced_validation" method="POST">
                <div class="modal-header">
                    <h4 class="modal-title" id="UpdateUserModalLabel">Öğrenci Güncelleme Ekranı</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input id="name" type="text" class="form-control" name="name" required="" aria-required="true">
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input id="surname" type="text" class="form-control" name="surname" required="" aria-required="true">
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input id="email" type="email" class="form-control" name="email" required="" aria-required="true" aria-invalid="true">
                        </div>
                        <label id="email-error" class="error" for="email" style="display: none;"></label>
                    </div>
                    <input type="hidden" id="id" name="id" />
                    <div class="alert alert-success m-t-10 info-alert" id="update_success">
                        <strong>Başarılı!</strong> Güncelleme işlemi gerçekleşti.
                    </div>
                    <div class="alert alert-danger m-t-10 info-alert" id="update_err">
                        <strong>Hata!</strong> Güncelleme işlemi bir sepebten ötürü başarısız oldu.
                    </div>
                    <div class="alert alert-warning m-t-10 info-alert" id="update_warning">
                        <strong>Uyarı!</strong> Bu e-maile sahip bir kullanıcı zaten var.
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger waves-effect">Kaydet</button>
                    <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">Kapat</button>
                </div>
            </form>
        </div>
    </div>
</div>


@section scripts{
    <script>
            $(document).ready(function () {
                $('.info-alert').hide();
                $("#form_advanced_validation").submit(function (e) {
                    e.preventDefault();
                    if ($('input[name="name"]').val().trim() === '' || $('input[name="surname"]').val().trim() === '' || $('input[name="email"]').val().trim() === '') {
                        return;
                    }
                    else if (!isValidEmailAddress($('input[name="email"]').val().trim())) {
                        return;
                    }
                    else {
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("User", "Edit")',
                            data: {
                                name: $('input[name="name"]').val().trim(),
                                surname: $('input[name="surname"]').val().trim(),
                                email: $('input[name="email"]').val().trim(),
                                id: $('#id').val().trim()
                            },
                            dataType: "json",
                            success: function (data) {
                                if (data.status === 0) {
                                    $("#update_err").fadeIn();
                                    setTimeout(function () {
                                        $("#update_err").fadeOut();
                                        $("#UpdateUserModal").modal("hide");
                                    }, 2000);
                                }
                                else if (data.status === 1) {
                                    $("#col_name_" + data.id).html(data.name);
                                    $("#col_surname_" + data.id).html(data.surname);
                                    $("#col_email_" + data.id).html(data.email);
                                    $("#update_success").fadeIn();
                                    setTimeout(function () {
                                        $("#update_success").fadeOut();
                                        $("#UpdateUserModal").modal("hide");
                                    }, 2000);

                                }
                                else {
                                    $("#update_warning").fadeIn();
                                    setTimeout(function () {
                                        $("#update_warning").fadeOut();
                                        $("#UpdateUserModal").modal("hide");
                                    }, 2000);
                                }
                            }
                        });
                    }
                });
            });
            function Edit(id) {
                if (id === null)
                    return;
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetUser", "Edit")',
                    data: { id: id },
                    dataType: "json",
                    success: function (data) {
                        $("#name").val(data.name);
                        $("#surname").val(data.surname);
                        $("#email").val(data.email);
                        $("#id").val(data.id);
                        $("#UpdateUserModal").modal("show");
                    }
                });
            }

            function Delete(id) {
                if (confirm("Öğrenciyi silmek istediğinize emin misiniz?")) {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("User", "Delete")',
                        data: { id : id },
                        datatype: "json",
                        success: function (data) {
                            if (data.status === 1) {
                                $("#user_" + id).fadeOut();
                                $("#delete_success").fadeIn();
                                setTimeout(function () {
                                    $("#delete_success").fadeOut();
                                }, 2000);
                            } else {
                                $("#delete_err").fadeIn();
                                setTimeout(function () {
                                    $("#delete_err").fadeOut();
                                }, 2000);
                            }
                        }
                    });
                }
            }
    </script>
}
