@model KnowledgeCompetitionWebApp.Models.CompetitionDetail
@{
    ViewBag.Title = "CompetitionDetail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    string FullName = Model.User.Name + " " + Model.User.Surname.ToUpper();
}



<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    YARIŞMA KODU : @Model.Competition.CompetitionCode
                </h2>
                <h3>
                    Kategori Adı : @Model.CategoryName
                </h3>
                <h5>Yarışmaya Katılan Kişi: @FullName</h5>
                <small>Tarih - Saat: @Model.Competition.CreatedDate.ToString("dd/MM/yyyy - HH:mm:ss")</small>
            </div>
            <div class="body table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>SORU</th>
                            <th>SEVİYE</th>
                            <th>DOĞRU CEVAP</th>
                            <th>VERİLEN CEVAP</th>
                            <th>DURUM</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Questions.Count; i++)
                        {
                            <tr>
                                <th scope="row">@(i + 1)</th>
                                <td>@Model.Questions.ElementAt(i).QuestionTxt</td>
                                <td>@Model.Questions.ElementAt(i).Level</td>
                                <td>
                                    <strong>
                                        @Model.CorrectAnswers.ElementAt(i).CorrectOption.ToUpper()
                                    </strong>
                                </td>
                                <td>
                                    <strong>
                                        @Model.Results.ElementAt(i).SelectedOption.ToUpper()
                                    </strong>
                                </td>
                                <td>
                                    @if (Model.CorrectAnswers.ElementAt(i).CorrectOption == Model.Results.ElementAt(i).SelectedOption)
                                    {
                                        <i class="material-icons">done</i>
                                    }
                                    else
                                    {
                                        <i class="material-icons">clear</i>
                                    }
                                </td>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

